.superTextField {
    &__wrapper {
        min-height: 68px;
    }
    &__input {
        box-sizing: border-box;
        display: block;
        width: 100%;
        height: 46px;
        padding: 0 10px;
        // font: inherit;
        font-size: 18px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        color: #343a40;
        outline: none;
    }
    &__input-error {
        border: 1px solid #D32F2F;
    }
    &__span-error {
        height: 22px;
        padding-left: 10px;
        color: #D32F2F;
        font-size: 14px;
    }
}